.banner {
  margin: 5% auto;
  width: 90%;
  overflow: hidden;
}
.bannerbody {
  display: flex;
  border-radius: 20px;
}

.bannerimg {
  width: 225px;
  height: 325px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px black;
}
.bannercontent {
  text-align: center;
  font-size: 1.6rem;
  padding: 0px 3%;
  margin: auto auto;
}
.banneroverview {
  font-size: 1rem;
  background-color: rgba(185, 156, 156, 0.473);
}
.bannerimgdiv {
  margin: auto 0px;
}
@media (max-width: 840px) {
  .banner {
    margin: auto;
  }
  .bannerbody {
    height: 60vh;
    width: 70vw;
    margin: 0px auto;
    display: grid;
  }
  .bannerimg {
    width: 125px;
    height: 225px;
  }
  .bannerimgdiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bannertitle {
    font-size: 0.8rem;
  }
  .banneroverview {
    display: none;
  }
  .bannercontent {
    font-size: 0.7rem;
  }
}
@media (min-width: 840px) {
  .bannerbody {
    padding: 5%;
    margin: auto 7%;
  }
}
