.footer {
  background-image: linear-gradient(transparent, #13151f), url("../footer.png");
  background-size: cover;
  height: 30vh;
}
.footerlogoimg {
  width: 2rem;
  margin-right: 5px;
}
.develop {
  font-size: 1.2rem;
  font-weight: lighter;
}

@media (max-width: 840px) {
  .footer {
    height: 15vh;
    margin-bottom: 50px;
  }
}
