.logo {
  cursor: pointer;
}

.logoimg {
  width: 40px;
  padding: 5px;
}
.list {
  cursor: pointer;
  position: absolute;
  z-index: 2;
  top: 70px;
  right: 5%;
  text-align: center;
  width: 125px;
  height: 80px;
  display: none;
  color: white;
  border: 2px solid white;
  background-color: black;
}
.menus:hover {
  cursor: pointer;
}

.menusitem {
  color: white;
  border-bottom: 2px solid transparent;
  padding-bottom: 5px;
}
.menuslist {
  color: white;
  padding: 3px;
}
.list .active {
  background-color: red;
}
.list .active:hover {
  color: white;
}
.menuslist:hover {
  color: red;
  text-decoration: none;
}

.menusitem:hover {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid red;
}
.menus .active {
  color: red;
}
.search {
  border: 1px solid white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  height: 37.5px;
}

.searchtxt {
  outline: none;
  border: 0px;
  height: 100%;
  width: 75%;
  padding-left: 10px;
  border-left: 1px solid white;
  background-color: transparent;
}
.searchselect {
  border: 0px;
  font-size: 0.9rem;
  background-color: transparent;
}
.searchselectitem {
  color: white;
  background-color: black;
}
.searchicon {
  padding: 5px;
}

.searchselect,
.menusselect,
.searchtxt {
  color: white;
}
@media (max-width: 840px) {
  .menus {
    display: none;
  }
  .contain1,
  .contain2 {
    width: 100%;
  }
  .stick {
    position: fixed;
    padding: 0px 5%;
    z-index: 5;
    background-image: linear-gradient(#13151f, #13151f);
    top: 0;
  }
  .search {
    margin-top: 15%;
  }
}
@media (min-width: 840px) {
  .fa-bars {
    display: none;
  }
  .listnone {
    display: none;
  }
}
/* li {
  background: yellow;
}
 */
