.header-tank {
  margin: 10px auto;
}
.header-container-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-container-child-1 {
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.logo-img {
  width: 32px;
  margin: auto 5px;
}
.logo-text {
  margin-top: 5px;
  font-size: 1.2rem;
}
.header-container-child-2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.menus .active {
  color: red;
}
.menus:hover {
  cursor: pointer;
}
.menus-item {
  color: white;
  border-bottom: 1px solid transparent;
  padding-bottom: 5px;
}
.menus-item:hover {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid red;
}
.search-div {
  border: 1px solid white;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 32px;
}

.searchtext {
  color: white;
  outline: none;
  border: 0px;
  height: 100%;
  width: 75%;
  padding-left: 10px;
  background-color: transparent;
}

#menu-1 {
  display: block;
  margin-right: 10px;
}
#menu-2 {
  display: none;
}
@media (max-width: 840px) {
  .header-container-child-1 {
    font-size: 0.8rem;
  }
  .logo-img {
    width: 22px;
  }
  .logo-text {
    font-size: 0.8rem;
  }
  #menu-1 {
    display: none;
  }
  #menu-2 {
    display: flex;
    justify-content: space-between;
    margin: 15px auto;
    width: 80%;
    font-size: 0.8rem;
  }
  .search-div {
    height: 30px;
  }
}
