* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  background-color: #13151f;
}
.pagination {
  background-color: rgba(95, 95, 95);
}
